<html>
	<head>
	</head>
	<body>

		{% for categoria in categoriasMenu %}
		</div>
			<a href = "{{url_for('catalogoItens', categoria_id = categoria.id)}}"><span><p>{{categoria.nome}}</p></span></a>
		</div>
		{% endfor %}

		</div>
			<span><p>{{categoria.nome}}{{contador}}</p></span>
		</div>

    {% for item in itensCategoria %}
    </div>
      <a href = "{{url_for('descricaoItem', categoria_id = item.categoria_id, item_id=item.id)}}"><span><p>{{item.nome}}</p></span></a>
    </div>
    {% endfor %}

	</body>
</html>
